<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 class="titulo">Detalle de {{VulnerabilidadSelected.nombre}}</h1>
<div class="row">
    <div class="col-6">
        <img class="fotoVulnerabilidad" src="assets/img/{{VulnerabilidadSelected.foto}}">
    </div>
    <div class="col-6 tarjetaInfo">
        
        <!-- <p>{{VulnerabilidadSelected.descripcionCorta}}</p> -->
        <h5>DESCRIPCIÓN DEL ATAQUE</h5>
       <p>{{VulnerabilidadSelected.descripcionLarga}}</p>
       <h5>MITIGACIÓN</h5>
       <p>{{VulnerabilidadSelected.mitigacion}}</p>
       <a routerLink="/vulnerabilidades" class="btn btn-success btn-sm col-xs-2 margin-left">Volver</a>
    </div>
</div>
</body>
</html>